@import "../App.scss";

.stats-dashboard {
  list-style: none;
  padding: 0;
}

@each $card, $color in $card-colors {
  .#{$card} {
    background: $color;
    border-radius: 16px;
    margin-top: 1em;
  }
}

.stats {
  background: $color-bg-stats-card;
  border-radius: 15px;
  padding: 1.5em;

  &:hover,
  &:focus {
    cursor: pointer;
    background: hsl(236, 45%, 40%);
  }
}

.stats-img-wrap {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  max-height: 2.5em;

  img {
    max-width: 20%;
    height: fit-content;
    position: relative;
    top: -0.2em;
    right: 1em;
  }
}

.stats-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1em;
}

h2,
.time-current {
  color: white;
}

.dots-wrap {
  display: flex;
  align-items: center;
}

.img-dots {
  max-width: 100%;

  &:hover,
  &:focus {
    cursor: pointer;
    path {
      fill: white;
    }
  }
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;

  p {
    margin: 0;
  }
}

.time-current {
  font-weight: 300;
  font-size: 1.5em;
}

.time-previous {
  font-size: 0.85em;
  color: $color-font-Pale-Blue;
}
