@import "../App.scss";
.main-card-nav {
  margin: 0;
  padding: 1.5em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-btn {
  border: none;
  background: none;
  color: $color-font-blue;
  padding: 0;

  &:hover {
    cursor: pointer;
    color: white;
  }
}

.active {
  color: white;
}
