@import "../App.scss";
.main-card-nav {
  margin: 0;
  padding: 1.5em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    border: none;
    background: none;
    color: $color-font-blue;
    padding: 0;

    &:hover,
    &:focus {
      cursor: pointer;
      color: white;
    }
  }
}
