@import "../../assets/scss/variables.scss";
.stats-dashboard {
  list-style: none;
  padding: 0;
}

@each $card, $color in $card-colors {
  .#{$card} {
    background: $color;
    border-radius: 16px;
    margin-top: 1em;
  }
}

.stats {
  background: $color-bg-stats-card;
  border-radius: 15px;
  padding: 1.5em;

  &:hover,
  &:focus {
    cursor: pointer;
    background: hsl(236, 45%, 40%);
  }
}

.stats-img-wrap {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  max-height: 2.5em;

  img {
    max-width: 20%;
    height: fit-content;
    position: relative;
    top: -0.2em;
    right: 1em;
  }
}

.stats-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1em;
}

h2,
.time-current {
  color: white;
}

.dots-wrap {
  display: flex;
  align-items: center;
}

.img-dots {
  max-width: 100%;

  &:hover,
  &:focus {
    cursor: pointer;
    path {
      fill: white;
    }
  }
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;

  p {
    margin: 0;
  }
}

.time-current {
  font-weight: 300;
  font-size: 1.5em;
}

.time-previous {
  font-size: 0.85em;
  color: $color-font-Pale-Blue;
}

@media screen and (min-width: 499px) {
  .stats-dashboard {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 13em));
    grid-gap: 1.5em;
    margin: 0;
  }

  .stats-img-wrap img {
    max-width: 30%;
  }

  .stats-dashboard li:first-child img {
    top: -0.6em;
  }
  .stats-dashboard li:nth-child(5) img {
    top: -1.05em;
  }
  .stats-dashboard li:nth-child(6) img {
    top: -1em;
  }

  @each $card, $color in $card-colors {
    .#{$card} {
      margin-top: 0;
    }
  }

  .time {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    margin-top: 1em;
  }
}

@media screen and (min-width: 899px) {
  .stats-dashboard {
    margin: 0;
    grid-gap: 1.5em;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 986px) {
  .stats-dashboard {
    display: grid;
    max-width: 42em;
  }

  .stats {
    padding: 2em;
  }

  .time {
    margin-top: 1.8em;
    gap: 0.7em;
  }
}
