@import "./index.scss";
.App {
  margin: 2em 1.5em;
}

.attribution {
  font-size: 0.6875em;
  text-align: center;
}

.attribution a {
  color: $color-font-Pale-Blue;
}

/* Useful classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.active {
  color: white;
}
