@import "./assets/scss/normalize.scss";
@import "./assets/scss/variables";
/*
 *	GENERAL
 ------------------------------------------------------ */
/* border-box */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: $color-bg-body;
  color: $color-font-blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font: {
    size: 1rem;
    family: $font-family;
  }
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
